<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>
<body>
<div th:replace="layout :: header"></div>

<section class="container" id="checkout-container">
    <div class="row">
        <div>
            <div class="panel panel-default" id="panel-centered">
                <div class="panel-heading">
                    <strong>Checkout Form</strong>
                </div>
                <div class="checkoutform panel-body">
                    <form action="/payment" method="post">
                        <fieldset>
                            <legend>Personal information:</legend>
                            First name:<br/>
                            <input type="text" name="firstname" required="required"/><br/><br/>
                            Last name:<br/>
                            <input type="text" name="lastname" required="required"/><br/><br/>
                            Phone number:<br/>
                            <input type="text" name="phonenumber" required="required"/><br/><br/>
                            E-mail:<br/>
                            <input type="text" name="email" required="required"/><br/><br/>
                        </fieldset>

                        <fieldset>
                            <legend>Billing Address:</legend>
                            Country:<br/>
                            <input type="text" name="bcountry" required="required"/><br/><br/>
                            City:<br/>
                            <input type="text" name="bcity" required="required"/><br/><br/>
                            Zipcode:<br/>
                            <input type="text" name="bzip" required="required"/><br/><br/>
                            Address:<br/>
                            <input type="text" name="baddress" required="required"/><br/><br/>
                        </fieldset>

                        <fieldset>
                            <legend>Shipping Address:</legend>
                            Country:<br/>
                            <input type="text" name="shcountry" required="required"/><br/><br/>
                            City:<br/>
                            <input type="text" name="shcity" required="required"/><br/><br/>
                            Zipcode:<br/>
                            <input type="text" name="shzip" required="required"/><br/><br/>
                            Address:<br/>
                            <input type="text" name="shaddress" required="required"/><br/><br/>
                            <input type="submit" class="btn btn-info sc-cart-checkout" name="redirect" value="Payment" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="layout :: footer"></div>

</body>
</html>