<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/plain" href="/css/custom.css" />
    <link href="/css/smart_cart.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/JS/jquery.smartCart.js"></script>
</head>

<body>

<div th:replace="layout :: header"></div>

<section class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort to Product Category
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div th:each="prodCat,iterStat : ${productCategories}">
                        <a class="dropdown-item" th:href="@{~/product_category/{prodCat}(prodCat=${prodCat})}" th:text="${prodCat}">Action</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/all-products">All Products</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div th:if="${category != null}">
                        <strong th:text="${category.name}">CN</strong>
                    </div>
                    <div th:unless="${category != null}">
                        <strong>All Products</strong>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row" >
                        <!-- BEGIN PRODUCTS -->
                        <div class="col-md-4 col-sm-6" th:each="prod,iterStat : ${products}">
                            <div class="sc-product-item thumbnail">
                                <img data-name="product_image" src="http://placehold.it/250x150/2aabd2/ffffff?text=Product+1" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="..."/>
                                <div class="caption">
                                    <h4 data-name="product_name" th:text="${prod.name}">Product name</h4>
                                    <p data-name="product_desc" th:text="${prod.description}">Product details</p>
                                    <hr class="line"/>

                                    <div>

                                        <div class="form-group2">
                                            <input class="sc-cart-item-qty" name="product_quantity" min="1" value="1" type="number"/>
                                        </div>
                                        <strong class="price pull-left" th:text="${prod.getPrice()}">$2,990.50</strong>

                                        <input name="product_price" th:value="${prod.getPriceWithoutCurrency()}" type="hidden" />
                                        <input name="product_id" th:value="${prod.getId()}" type="hidden" />
                                        <button class="sc-add-to-cart btn btn-success btn-sm pull-right">Add to cart</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!-- END PRODUCTS -->
                    </div>
                </div>
            </div>

        </div>

        <aside class="col-md-3">

            <!-- Cart submit form -->
            <form action="/checkout" method="POST">
                <!-- SmartCart element -->
                <div id="smartcart"></div>
            </form>

        </aside>
    </div>
</section>

<div th:replace="layout :: footer"></div>

</body>
</html>