<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="jumbotron text-center" th:fragment="header">
    <center>
        <img src="/img/logo.png" class="img-responsive center" alt="Hogwarts Webshop" border="0"/>
    </center>
</div>

<div th:fragment="footer">
    <div class="panel panel-default footer">
        <div class="panel-body">
            &copy; 2016 Team Undefined Budapest7
        </div>
    </div>
</div>

</body>
</html>